<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zohai.healthapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".Myapplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitySignin"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".ActivitySignup"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".DoctorPatient"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".DoctorPanel.AddPatient"
            android:label="@string/title_activity_dashboard2"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ForgotPassword"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".Dashboard2"
            android:label="@string/title_activity_dashboard2"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CheckFirebaseUser"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".DatasourceID"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".OfflineOnline"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".OfflineMode"
            android:label="@string/title_activity_dashboard2"
            android:theme="@style/AppTheme" />

        <receiver
            android:name=".ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".BluetoothDeviceList" />
        <activity
            android:name=".DoctorPanel.DoctorPanel_Signin"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".DoctorPanel.DoctorPanel_UniqueID"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".DoctorPanel.DoctorDashboard"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DoctorPanel.AddByOptions"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".DoctorPanel.AddbyID"
            android:theme="@style/AppTheme" />

        <activity android:name=".DoctorPanel.IdDashboard"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>